body {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
 
}

h3{
   
    color: black;
}
#lista li{
    word-wrap: break-word;
}

.dugme1{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(11, 124, 115); 
    color: white;
    border: 2px solid rgb(11, 124, 115); 
}

#lista, li{
    width: 20px;
}

.dugme2{
   
    border: none;
    color: white;
    padding: 13px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
   
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
.dugme2 {
   
    background-color: black; 
    color: white; 
   
}


img{
    height: 13px;
    float: right;
   
}

ul li{
    width: 1000px;
    cursor: pointer;
    position: relative;
    padding: 12px 6px 12px 10px;
    list-style-type: none;
    border: 1px solid 	#ffffff;
    font-size: 18px;
    transition: 0.2s;
    color: rgb(212, 138, 1);
    margin-top: 10px;
    background:	#fff7f0;
  }


@media screen and (min-width: 400px) {
ul li{
    width: 300px;
}

    
}
@media screen and (min-width: 800px) {
    ul li{
        width: 600px;
    }
    
        
    }
    @media screen and (min-width: 1000px) {
        ul li{
            width: 800px;
        }
        
            
        }
        @media screen and (min-width: 1200px) {
            ul li{
                width: 1000px;
            }
            
                
            }
